---
import Layout from "../Layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout>
  <main class="max-w-6xl mx-auto p-6">
    <div class="flex flex-col md:flex-row md:space-x-6 space-y-6 md:space-y-0">
      <Card 
        title="Portfolio Design" 
        items={["Asus TUF Gaming F16 FX607VU-RL041W ", "Logitech G305 Lightspeed", "Logitech G PRO X Gaming"]} 
        images={["/images/Asus-tuf-gaming-laptop.jpg", "/images/ligitech-g305-lightspeed.jpg", "/images/logitech-headset.jpg"]}
        class="flex-1"
      />
      
      <Card 
        title="Frontend" 
        items={["HTML/CSS/JavaScript", "React.js/Vue.js", "Bootstrap/TailwindCSS", "Git"]} 
        images={["/images/HTML-CSS-JS-Logo.png", "/images/react-vue.png", "/images/bootstrap-vs-tailwind.png", "/images/Git_icon.svg.png"]}
        class="flex-1"
      />
      
      <Card 
        title="Backend" 
        items={["C#", "ASP.NET", "MySQL"]} 
        images={["/images/Csharp_Logo.png", "/images/asp.net.png", "/images/MySQL-Logo.wine.png"]}
        class="flex-1"
      />
    </div>
  </main>
</Layout>
