---
import Layout from "../Layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout>
  <main class="max-w-3xl mx-auto p-6">
    <h1 class="text-4xl font-bold mb-6">Backend</h1>
    <Card title="Design Tools" items={["Figma", "Adobe Photoshop"]} />
  </main>
</Layout>
