---
import Layout from "../Layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout>
  <main class="max-w-3xl mx-auto p-6">
    <h1 class="text-4xl font-bold mb-6">Computing</h1>
    <Card title="My Hardware" items={["Asus TUF Gaming F16 FX607VU-RL041W ", "Logitech G305 Lightspeed", "Logitech G PRO X Gaming"]} />
  </main>
</Layout>
