---
import Layout from "../Layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout>
  <div class="relative w-full mt-2 mb-6 h-[40vh] overflow-hidden">
    <!-- Videó -->
    <video 
      class="w-full h-full object-cover"
      autoplay 
      muted 
      loop 
      playsinline
    >
      <source src="/images/IMG_4152.mp4" type="video/mp4" />
      Your browser does not support the video tag.
    </video>

    <!-- Fehér overlay -->
    <div class="absolute inset-0 bg-white/60 z-10"></div>

    <!-- Szöveg a videó közepén -->
    <div class="absolute inset-0 flex flex-col items-center justify-center text-center z-20 px-4">
      <p class=" text-gray-900 mb-2">WELCOME TO</p>
      <h1 class="text-5xl text-gray-900">
  My first portfolio <span class="text-orange-500">website</span>
</h1>

    </div>
  </div>
<!-- Középső leíró szöveg a videó és kártyák között -->
  <div class="max-w-3xl mx-auto text-center mb-12 px-4">
    <p class="text-gray-600 text-lg">
      I created this website to share my past projects with others and to show what tools I use in my work.
    </p>
  </div>
  <main class="max-w-6xl mx-auto p-6">
    <!-- Cards container -->
    <div class="flex flex-col md:flex-row md:space-x-6 space-y-6 md:space-y-0">
      <Card 
        title="Computing" 
        items={["Asus TUF Gaming F16 FX607VU-RL041W ", "Logitech G305 Lightspeed", "Logitech G PRO X Gaming"]} 
        images={["/images/Asus-tuf-gaming-laptop.jpg", "/images/ligitech-g305-lightspeed.jpg", "/images/logitech-headset.jpg"]}
        class="flex-1"
      />
      
      <Card 
        title="Frontend" 
        items={["HTML/CSS/JavaScript", "React.js/Vue.js", "Bootstrap/TailwindCSS", "Git"]} 
        images={["/images/HTML-CSS-JS-Logo.png", "/images/react-vue.png", "/images/bootstrap-vs-tailwind.png", "/images/Git_icon.svg.png"]}
        class="flex-1"
      />
      
      <Card 
        title="Backend" 
        items={["C#", "ASP.NET", "MySQL"]} 
        images={["/images/Csharp_Logo.png", "/images/asp.net.png", "/images/MySQL-Logo.wine.png"]}
        class="flex-1"
      />
    </div>
  </main>
</Layout>
