---
import Layout from "../Layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout>
  <main class="max-w-3xl mx-auto p-6 space-y-12">
    <h1 class="text-4xl font-bold mb-6">Uses</h1>
    <p class="text-lg mb-8 text-gray-600">Here’s the Computing, Frontend, and Backend I use for coding, design, and daily projects.</p>

    <Card 
      title="Computing" 
      items={["Asus TUF Gaming F16 FX607VU-RL041W ", "Logitech G305 Lightspeed", "Logitech G PRO X Gaming"]} 
      images={["/images/Asus-tuf-gaming-laptop.jpg", "/images/ligitech-g305-lightspeed.jpg", "/images/logitech-headset.jpg"]}
    />
    
    <Card 
      title="Frontend" 
      items={["Neovim + VSCode", "iTerm2", "Raycast", "Notion"]} 
      images={["/images/posts/vscode.png", "", "", ""]}
    />
    
    <Card 
      title="Backend" 
      items={["Figma", "Adobe Photoshop"]} 
      images={["/images/posts/figma.png", "/images/posts/photoshop.jpg"]}
    />
  </main>
</Layout>


