---
import Layout from "../Layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout>
  <main class="max-w-3xl mx-auto p-6">
    <h1 class="text-4xl font-bold mb-6">Software</h1>
    <Card title="My Software" items={["Neovim + VSCode", "iTerm2", "Raycast", "Notion"]} />
  </main>
</Layout>
