---
let isOpen = false;
---

<nav class="flex justify-between items-center py-4 max-w-3xl mx-auto px-4">
  
  <a href="/" class="text-xl font-bold">Martin Tokes</a>

  <!-- Desktop menu -->
  <div class="hidden md:flex space-x-4">
    <a href="/hardware" class="text-gray-700 dark:text-gray-700 hover:text-gray-900 dark:hover:text-gray-900">Computing</a>
    <a href="/software" class="text-gray-700 dark:text-gray-700 hover:text-gray-900 dark:hover:text-gray-900">Frontend</a>
    <a href="/design" class="text-gray-700 dark:text-gray-700 hover:text-gray-900 dark:hover:text-gray-900">Backend</a>
    <a href="https://github.com/craftzdog/craftzdog-uses" target="_blank" class="text-sm text-blue-600 dark:text-blue-400">GitHub</a>
  </div>

  <!-- Hamburger button -->
  <button id="menu-toggle" class="md:hidden text-2xl focus:outline-none">
    ☰
  </button>
</nav>

<!-- Mobile menu -->
<div id="mobile-menu"
     class="max-h-0 overflow-hidden transition-all duration-300 ease-in-out md:hidden bg-gray-100 dark:bg-gray-200">
  <div class="flex flex-col space-y-2 p-4">
    <a href="/hardware" class="text-gray-700 dark:text-gray-200 hover:text-gray-900 dark:hover:text-white">Computing</a>
    <a href="/software" class="text-gray-700 dark:text-gray-200 hover:text-gray-900 dark:hover:text-white">Frontend</a>
    <a href="/design" class="text-gray-700 dark:text-gray-200 hover:text-gray-900  dark:hover:text-white">Backend</a>
    <a href="https://github.com/craftzdog/craftzdog-uses" target="_blank" class="text-sm text-blue-600 dark:text-blue-400">GitHub</a>
  </div>
</div>

<script>
  const toggle = document.getElementById("menu-toggle");
  const menu = document.getElementById("mobile-menu");

  toggle.addEventListener("click", () => {
    if (menu.classList.contains("max-h-0")) {
      menu.classList.remove("max-h-0");
      menu.classList.add("max-h-96"); // kinyílik
    } else {
      menu.classList.remove("max-h-96");
      menu.classList.add("max-h-0"); // összecsukódik
    }
  });
</script>
