---
import Nav from '../components/Nav.astro';
import '../styles/global.css';
---
<html lang="en" class="bg-gray-100 text-gray-900 dark:bg-gray-900 dark:text-gray-100 transition-colors duration-300">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />
    <title>Martin Tokes</title>
    <link rel="stylesheet" href="/src/styles/global.css" />
    <!-- iOS főképernyő ikon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/buddha-india-landmark-svgrepo-com.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/buddha-india-landmark-svgrepo-com.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/buddha-india-landmark-svgrepo-com.png">

  </head>
  <body class="bg-gray-50 text-gray-900">
    <Nav />
    <slot />
  </body>
</html>






